@model int

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2 class="results"> Results </h2>

<h3 class="resultsNumber"> @Model </h3>




    <div class="row">
        <div class="col m12">
            <table class="resultsTable">
                <tr>
                    <td class="tdWords"> <i class="material-icons icon">done</i> Prime</td>
                    <td class="tdWords"> <i class="material-icons icon">done</i> Perfect</td>
                    <td class="tdWords"> <i class="material-icons icon">done</i> Squareful</td>
                    <td class="tdWords"> <i class="material-icons icon">done</i> Squarefull</td>
                    <td class="tdWords"> <i class="material-icons icon">done</i> Palindromic </td>
                </tr>

            </table>
        </div>
        </div>


        @*
            <p>  </p>
            <p> <i class="material-icons icon">done</i> Perfect </p>
            <p> <i class="material-icons icon">done</i> Squareful </p>
            <p> <i class="material-icons icon">done</i> Squarefull </p>
            <p> <i class="material-icons icon">done</i> Palindromic </p>

            <p> <i class="material-icons">close</i> Prime </p>
        *@

        <a href="/home/index" class="btn waves-effect waves-light backButton red darken-4"> <i class="material-icons">arrow_back</i> Back </a>

